.aboutdiv {
  color: #a8a5a5;
  width: 90%;
  margin-left: 5%;
  line-height: 30px;
}
.aboutdiv h4 {
  color: #100622;
  background-color: #24273d;
}
.aboutdiv p {
  background-color: #24273d;
}
.aboutdiv h5 {
  background-color: #24273d;
}


@media (max-width: 430px) {
    .aboutdiv {
       line-height: 20px; 
    }
    .aboutdiv p {
        font-size: 13px;
    }
}

@media (max-width: 940px) {

}
